.container {
    position: relative;
    width: 700px;
    

    /*background-color: aliceblue;*/
}


.box {
    position: relative;
    width: 550px;
    background-color: aliceblue;
    margin-left: 600px;
    margin-top: 200px;
    margin: 100px auto;
}
